
<h1>Dashboard de Proyectos</h1>

<div style="display: block; width: 600px; margin: 2rem auto;">
	<!-- <canvas baseChart
		[data]="barChartData"
		[labels]="barChartLabels"
		[options]="barChartOptions"
		[type]="'bar'"
		[legend]="true">
	</canvas> -->
    <canvas baseChart
    [data]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    chartType="bar">
    </canvas>
</div>

<div style="display: block; width: 600px; margin: 2rem auto;">
  <canvas baseChart
    [data]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [type]="'line'"
    [legend]="true">
  </canvas>
</div>
